*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    margin-top: 10vh ;
    margin-left: 23%;
    width: 43%;
  
}

.menu li{
    list-style: none;  
    margin-left: 10%; 
    background-color: rgb(40, 40, 40);
    width: 100%;
   position: relative;
   border: none;
   height: 10vh;
   cursor: pointer;
}
.menu li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    position: absolute;
    margin-top: 3vh;
    margin-left: 42%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}


.menu li:hover{
    background-color: rgb(122, 38, 202);
}


/*------BOTOES------*/
.btq{
    width: 43%;
    margin-left: 27.3%;
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 10%;
}

.btq button{
    position: relative;
    height: 10vh;
    width: 90%;
    cursor: pointer;
    margin-top: 4vh;
    margin-left: 18%;
}
/*------Bota0 1-------*/

.botao-quadrado-1{
    border: 3px solid;
    font-size: 17px;
    font-weight: bold;
    border-image: linear-gradient(45deg, rgb(11, 69, 244), rgb(221, 10, 240)) 1;
    background-image: linear-gradient(45deg, rgb(11, 69, 244), rgb(221, 10, 240)) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.botao-quadrado-1:hover{
    background-image: linear-gradient(45deg, rgb(11, 69, 244), rgb(221, 10, 240)) ;
    margin-top: 3vh;
    transition: 0.5s;
    -webkit-background-clip:border-box;
    -webkit-text-fill-color:rgb(255, 255, 255);
}



/*------Bota0 2-------*/
.botao-quadrado-2{
    position: absolute;
    top: 30%;
    left: 45%;
    font-size: 17px;
    font-weight: bold;
    transform: translateX(-50%) translateY(-50%);
    background: #fff;
    width: 100px;
    padding: 10px 20px;
    border: 3px solid #FF6329;
    color: #FF6329;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
    -moz-transition: all 0.15s ease-out 0.15s;
    -o-transition: all 0.15s ease-out 0.15s;
    -webkit-transition: all 0.15s ease-out;
    -webkit-transition-delay: 0.15s;
    transition: all 0.15s ease-out 0.15s;
  }
  .botao-quadrado-2:after, .botao-quadrado-2:before {
    position: absolute;
    width: 100%;
    max-width: 100%;
    top: 100%;
    left: 0;
    bottom: -10px;
    content: "";
    z-index: 1;
    -moz-transition: all 0.15s ease-out 0.15s;
    -o-transition: all 0.15s ease-out 0.15s;
    -webkit-transition: all 0.15s ease-out;
    -webkit-transition-delay: 0.15s;
    transition: all 0.15s ease-out 0.15s;
  }
  .botao-quadrado-2:before {
    background-color: #FF6329;
    top: 10px;
    left: -10px;
    height: 100%;
    width: 8px;
  }
  .botao-quadrado-2:after {
    width: 100%;
    background-color:#FF6329;
    right: 0px;
    left: -10px;
    height: 10px;
  }
  .botao-quadrado-2:hover {
    background-color: #FF6329;
    color: #fff;
    margin-left: -7.5px;
    margin-bottom: -7.5px;
  }
  .botao-quadrado-2:hover:after, .botao-quadrado-2:hover:before {
    top: 100%;
    left: 0;
    bottom: 0px;
  }
  .botao-quadrado-2:hover:before {
    top: 0px;
    left: 0px;
    width: 0px;
  }
  .botao-quadrado-2:hover:after {
    right: 0px;
    left: 0px;
    height: 0px;
  }



/*------Bota0 3-------*/
.botao-quadrado-3{
    border: none;
    border-bottom: 4px solid #0c9cda;
    background-color: rgb(29, 172, 255);
    box-shadow: 0px 0px 20px 1px rgb(139, 139, 139, 0.25);
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: bold;
}
.botao-quadrado-3:hover{
    box-shadow: 0px 0px 20px 1px #85e6fa;
    margin-top: 3.5vh;
    transition: .2s;
}

/*------Bota0 4-------*/

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 17px;
    font-weight: bold;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }
  
  
  .botao-quadrado-4 {
    border: 3px solid #07db63;
    border-radius: 0;
    color: #07db63;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
    padding-left: 25%;
    padding-top: 3.5vh;
  }
  .botao-quadrado-4:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #07db63;
    z-index: -1;
    -webkit-transition: width 150ms ease-in-out;
    transition: width 250ms ease-in-out;
  }
  .botao-quadrado-4:hover {
    color: #fff;
  }
  .botao-quadrado-4:hover:after {
    width: 110%;
  }


/*------Bota0 5-------*/

.botao-quadrado-5{
    border-color: #cc2ebf;
    color: #cc2ebf;
    background-image: -webkit-linear-gradient(top, transparent 50%, #cc2eac 50%);
    background-image: linear-gradient(to bottom, transparent 50%, #cc2ec1 50%);
    background-position: 0% 0%;
    background-size: 210%;
    -webkit-transition: background 150ms ease-in-out, color 150ms ease-in-out;
    transition: background 150ms ease-in-out, color 150ms ease-in-out;
    font-size: 17px;
    font-weight: bold;
    padding-left: 25%;
    padding-top: 2vh;
  }
.botao-quadrado-5:hover{
    color: #fff;
    background-position: 0 100%;
    padding-top: 6vh;
  }


/*------Bota0 6-------*/
.botao-quadrado-6{
    border-color: #db3434;
    color: #fff;
    box-shadow: 0 0 40px 40px #db3434 inset, 0 0 0 0 #ff009d;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    font-size: 17px;
    font-weight: bold;
    padding-left: 25%;
    padding-top: 3.5vh;
}
.botao-quadrado-6:hover {
    box-shadow: 0 0 2px 0 #83f2f8 inset, 0 0 0px 0px;
    color: #db3434;
}




/*------Bota0 7-------*/
button.animated-button.thar-four {
	color: #F7CA18;
	cursor: pointer;
	display: block;
	position: relative;
	border: 3px solid #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
    font-size: 17px;
    font-weight: bold;
}
button.animated-button.thar-four:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nfour;
}
button.animated-button.thar-four:hover:before {
	right: 0%;
	left: auto;
	width: 100%;
}
button.animated-button.thar-four:before {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}




/*------Bota0 8-------*/

.botao-quadrado-8{
    cursor: pointer;
    background: transparent;
    border: 3px solid #592B02;
    outline: none;
    transition: 1s ease-in-out;
    width: 100%; 
    font-size: 17px;
    font-weight: bold;
    color: #592B02;
}

.botao-quadrado-8:hover {
    transition: 0.5s ease-in-out;
    background: #592B02;
    color: rgb(255, 255, 255);
}

